@model FundingPilotSystem.VM.UserRegistrationRequestsViewModel
@using Telerik.Web.Mvc.UI
@using FundingPilotSystem.Utilities
@using FundingPilotSystem.Common;
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="hiddenFields">
        @Html.Hidden("hdnConfirmedEmail")
        @Html.Hidden("hdnRegistrationId",@Model.Id)
    </div>
    <div class="page-header">
        <h1>@CustomLocalizationUtility.GetKeyValue("RegistrationProcess", "HeaderUserRegistration")</h1>
    </div>
    <div class="span11" style="min-height: 0;">
        <div class="control-group" style="margin-bottom: 0;">
            <div class="controls-row">
                @Html.Partial("MessageRegionPartial", Model.ModelMessage)
                @Html.Partial("AlertWindow", Model.AlertModel)
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserEmailAddress)
        @Html.TextBoxFor(m => m.UserEmailAddress, new { @class = "form-control", @type = "email", @placeholder = "Enter email" })
        @Html.ValidationMessageFor(m => m.UserEmailAddress)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", @placeholder = "Enter password" })

        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password", @placeholder = "Re Enter password" })

        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CountryOfRegistration)
       
    </div>
    <div class="form-group">
        @(Html.Telerik().ComboBoxFor(m => m.CountryOfRegistration)

                                 .BindTo(new SelectList(Model.CountriesOfOperation, "Id", "CountryName"))
                                .HtmlAttributes(new { @style = "width:220px" })
                                .InputHtmlAttributes(new { @class = "t-input valid form-control" })
                                .SelectedIndex(0))

        @Html.ValidationMessageFor(m => m.CountryOfRegistration)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.NewsLetter) @Html.LabelFor(m => m.NewsLetter)
        </label>
    </div>
    <input type="submit"  id="btnSubmit" class="btn btn-default"  value="Submit" />
    <script src="~/ResourceJson?pageName=RegistrationProcess" type="text/javascript"></script>
    @Html.Script("~/Contents/Scripts/Registration/Register.js")

}